
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <ul>
           
            @foreach (var customer in Model)
            {
                                
          @Html.ActionLink((string)customer.Name , "Details" , "Customers",new {id=customer.ID},null )
                     
                    
                                     <li>@customer.membershiptype.DiscountRate</li>
                <li>@customer.membershiptype.Name</li>

            }

    </ul>

</div>
</body>
</html>
